---
const platform = "github";
const username = "leasad03";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Follow me at: <a href="https://www.linkedin.com/in/dasael-sandoval/" target="blank">LinkedIn</a>  |  <a href="https://facebook.com/dasa.sandoval" target="blank">Facebook</a></p>
</footer>